<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h2>Eat Burgers</h2>
      <br>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}

        <form class="create-form">
          <div class="form-group">
            <label for="newburger"></label>
            {{!-- <input type="text" id="newburger" name="burger"> --}}
            <select data-placeholder="" id="newburger" name="burger">
              <option value="Nothing Selected" selected></option>
            </select>

            <button type="submit" class="btn btn-success" id="addburger">
              <span class="fa fa-thumbs-up"></span>>
          </div>
          </button>
        </form>
        {{!-- <span>{{this.id}} {{this.burger_name}}</span>
      <button type="button" id="eatburger" --}}

        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
        <button type="button" class="eatburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
          data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
        {{burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <h2>Burgers you have eaten.</h2>
      <br>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
          data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
        <hr>
        {{burgers/burger-block devoured=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <br>
    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="text" id="bu" name="name">
      </div>

      <button type="submit">Add Burger</button>
    </form>
  </div>
  <div class="col-sm-4">
    <img src="/assets/img/burger.jpg" alt="burger">
  </div>
</div>